

.styledinput {
  padding: 20px 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  height: 60px;
  width: 100%;
 

}



.styledinput:focus {
  border-color: #CECECE;
  background-color: #fff;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); */
  /* border: none; */
}

.popup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 150px; /* Adjust based on your layout */
}

.popup div {
  padding: 8px;
  cursor: pointer;
}

.popup div:hover {
  background-color: #f0f0f0;
}


